html {
    background-color: #000000;
}

body {
    width: 800px;
    padding: 10px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
    border: 5px solid #c6ff1a;
    border-radius: 20px;
    background-color: #000000;
}

p {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    color: #fff0f5;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13pt;
    line-height: 17pt;
}

h1 {
    font-size: 36pt;
    color: #000;
    font-family: 'Lobster';
    text-transform: uppercase;
}


a {
    font-size: 23pt;
    line-height: 10pt;
    font-family: 'Germania One', serif
    color: #4beba1;
    text-decoration: none;
}

a:link {
    color: #ff6666;
    font-family: 'Germania One', serif;
}

a:visited {
    color: #ff6666;
    font-family: 'Germania One', serif;
}

a:hover {
    color: #33cccc;
    font-family: 'Germania One', serif;
}







copy these for fonts & delete this portion when done 
font-family: 'Shrikhand', cursive;
font-family: 'Varela Round', sans-serif;